<div class="container formcontainer cont">
    <!--LOGIN-->
    <form class="login_form" action="" class="log_form" method="post">
        <span class="spanabout">Sing in</span>
        <div id="form">
            <div class="inputs">
                <input type="text" name="login" id="log" placeholder="Login or Email" required="required">
            </div>
            <div class="inputs">
                <input type="password" name="password" id="pass" placeholder="Password" required="required" min="6">
            </div>
            <div class="inputs">
                <input type="submit" value="Sing in" name="singin">
            </div>
        </div>
    </form>

    <!--REGISTRATION-->
    <form class="registration_form reg" method="post">
        <span class="spanabout">Sing up</span>
        <div id="form">
            <div class="inputs">
                <input type="text" name="login" id="log" placeholder="Login" required="required">
            </div>
            <div class="inputs">
                <input type="email" name="email" id="email" placeholder="E-mail" required="required">
            </div>
            <div class="inputs">
                <input type="password" name="password" id="pass" placeholder="Password" required="required" min="6">
            </div>
            <div class="inputs">
                <input type="password" name="password_confirm" id="pass" placeholder="Password confirm" required="required" min="6">
            </div>
            <div class="inputs">
                <input type="submit" value="Register" name="register">
            </div>
        </div>
    </form>

</div>